</head>
<body>

    <nav id="nav">
        <a href="/api/home" class="navItems">Climate - Mitra</a> <!--(vis.)-->
        <a href="" class="navItems">Communities</a>
        <a href="/api/productInfo" class="navItems">Be an Environmentalist</a> <!--(inputs))-->
        <a href="" class="navItems">Rewards</a>
        <a href="/api/user/login" class="navItems" id="loginButton">Login</a>
        <a href="/api/user/signup" class="navItems" id="loginButton">Register</a>
    </nav>